<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url() . 'style/admin/css/public.css' ?>">
	<script type="text/javascript" src="<?php echo base_url() ?>org/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript">
		window.UEDITOR_HOME_URL = "<?php echo base_url() ?>org/ueditor/";
		window.onload = function(){
			window.UEDITOR_CONFIG.initialFrameWidth = 900;
			window.UEDITOR_CONFIG.initialFrameHeight = 600;
			UE.getEditor('content');
		}
	</script>
	<script type="text/javascript" src="<?php echo base_url() ?>org/ueditor/ueditor.config.js"></script>
	<title>Document</title>
</head>
<body>
	<table class="table">
		<tr>
			<td class="th" colspan="12">调拨明细查询</td>
		</tr>
		<tr>
			<td align="center">硬件类型</td>
			<td align="center">型号规格</td>
			<td align="center">S/N</td>
			<td align="center">资产编号</td>
			<td align="center">调拨时间</td>
			<td align="center">原地点</td>
			<td align="center">新地点</td>
			<td align="center">审核状态</td>
		</tr>	
		<?php foreach($main as $m): ?>
		<tr>
			<td align="center"><?php echo $m['firm']."--".$m['tname']; ?></td>
			<td align="center"><?php echo $m['xhgg']; ?></td>
			<td align="center"><?php echo $m['sn']; ?></td>
			<td align="center"><?php echo $m['zcbh']; ?></td>
			<td align="center"><?php echo $m['dbsj']; ?></td>
			<td align="center"><?php echo $m['oldplace']; ?></td>
			<td align="center"><?php echo $m['newplace']; ?></td>
			<td align="center">
			<?php 
			switch ($m['sh'])
          	{
	            case 0:
	            echo "未审核";
	            break;

	            case 1:
	            echo "已审核";
	            break;
	        }
            ?>

            </td>
		</tr>	
		<?php endforeach;  ?>
		<tr>
			<td colspan="8" align="center"><input type="button" value="返回首页" class="input_button" onclick="window.location.href='<?php echo site_url('index_main/main');?>'"></td>
		</tr>

			
	</table>
</body>
</html>