<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url() . 'style/admin/css/public.css' ?>">
	<script type="text/javascript" src="<?php echo base_url() ?>org/ueditor/ueditor.all.min.js"></script>
  
	<script type="text/javascript">
		window.UEDITOR_HOME_URL = "<?php echo base_url() ?>org/ueditor/";
		window.onload = function(){
			window.UEDITOR_CONFIG.initialFrameWidth = 900;
			window.UEDITOR_CONFIG.initialFrameHeight = 600;
			UE.getEditor('content');
    $(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
    ); 
      
		}
	</script>
	<script type="text/javascript" src="<?php echo base_url() ?>org/ueditor/ueditor.config.js"></script>
	<title>Document</title>
	<style type="text/css">
		span{
			color: #f00;
		}
	</style>
</head>

<body>
<form name="main" method="post" action="<?php echo site_url('index_main/check');?>">
  <table>
	<tr>
	  <td class="th" colspan="12">资产总览:点击[类型]进入编辑界面；点击[状态]进入维修界面；点击[安装地点]进入调拨界面；</td>
	</tr>
  </table>
  <table id="myTable" class="tablesorter">
  <thead>
	<tr>
       <th align="center"><strong>硬件类型</strong></th>
       <th align="center"><strong>型号规格</strong></th>
       <th align="center"><strong>S/N编号</strong></th>
       <th align="center"><strong>资产编号</strong></th>
       <th align="center"><strong>使用状态</strong></th>
       <th align="center"><strong>金额</strong></th>
       <th align="center"><strong>到货时间</strong></th>
       <th align="center"><strong>安装地点</strong></th>
       <th align="center"><strong>安装日期</strong></th>
       <th align="center"><strong>发票号</strong></th>
       <th align="center"><strong>合同号</strong></th>
       <th align="center"><strong>备注</strong></th>
       <th align="center"><strong>操作</strong></th>
	</tr>
  </thead>
    <tr>
    	<td align="center"><label for="select"></label>
    	  <select name="type" id="type">
            <?php foreach($type as $t):?>
            <option value="<?php echo $t['tid'];?>"><?php echo $t['firm']."--".$t['tname'];?></option>
            <?php endforeach ?>
  	    </select></td>
        <td align="center"><label for="xhgg"></label>
        <input type="text" name="xhgg" id="xhgg"></td>
        <td align="center"><label for="sn"></label>
        <input type="text" name="sn" id="sn"></td>
        <td align="center"><label for="zcbh"></label>
        <input type="text" name="zcbh" id="zcbh"></td>
        <td align="center"><label for="zt"></label>
        <select name="zt" id="zt">
            <option value="0">使用中</option>
            <option value="1">库存</option>
            <option value="2">报废</option>
            <option value="4">维修中</option>
        </select></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"><label for="pid"></label>
        <input type="text" name="pid" id="pid"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"><input type="submit" class="input_button" value="查询"/></td>  
    </tr>
     <tbody>  
    <?php foreach($main as $m):?>
    <tr>
    <td align="center">
      <a href="<?php echo site_url('index_main/click_type/'.$m['mid']);?>">
        <?php echo $m['firm']."--".$m['tname']; ?>  
      </a>
    </td>
    <td align="center"><?php echo $m['xhgg']; ?></td>
    <td align="center"><?php echo $m['sn']; ?></td>
    <td align="center"><?php echo $m['zcbh']; ?></td>
    <td align="center">
      <a href="<?php echo site_url('index_main/click_zt/'.$m['mid']);?>">
        <?php 
          switch ($m['zt'])
         {
            case 0:
            echo "使用中";
            break;
            case 1:
            echo "库存";
            break;
            case 2:
            echo "报废";
            break;
            case 4:
            echo "维修中";
            break;
          }   
                      ?>
      </a>
                      
    </td>
    <td align="center"><?php echo $m['je']; ?></td>
    <td align="center"><?php echo $m['dhsj']; ?></td>
    <td align="center">
      <a href="<?php echo site_url('index_main/click_place/'.$m['mid']);?>">
        <?php echo $m['pname']; ?>
      </a>
    </td>
    <td align="center"><?php echo $m['azsj']; ?></td>
    <td align="center"><?php echo $m['fph']; ?></td>
    <td align="center"><?php echo $m['hth']; ?></td>
    <td align="center"><?php echo $m['bz']; ?></td>
    </tr>
    <?php endforeach;?>
</tbody>
</table>

</form>
</body>
</html>
